{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid recipies-container">
            <!--title-->
            <div class="row">
                <div class="col text-center mt-1">
                    <h2 class="display-3 playball">Chat</h2>
                    <h2 class="playball">Comments, Questions and Replies</h2>
                    <hr class="gold50 mb-1">
                </div>
            </div>

            <!--Comments Form container-->    
        <div class="row comment_form my-1">
            <div class="col-10 offset-1">
            {% if request.user.is_authenticated %}
            <small class="text-muted my-2">Add comment or question</small>
            <!--Add Comment-->
            <form class="lato" id="comment" method="POST" action="{% url 'recipe' %}">
                {% csrf_token %}  
                
                {{ form.comment | as_crispy_field }} 
                {{ form.name | as_crispy_field }} 
                            
                {% if request.user.is_superuser %}
                <div>
                <label class="form-check-label" for="is_shop">Check here if in-house reply</label>
                <input class="form-check-input ml-2 mr-0" type="checkbox" id="is_shop" name="is_shop">
                </div>
                {% endif %}
                <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}">
                <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
                <button class="btn btn-gold float-right" type="submit" name="comment_but" id="comment_but">
                    Submit 
                </button>
            </form>
            {% else %}
            <div class="inline float-right my-2 mr-0">
                <label class="form-check-label" for="login">
                    <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or 
                    <a class="text-info" href="{% url 'account_login' %}">login</a> to add comment
                </label>            
            </div>
            {% endif %}
            </div>
        </div>

        {% endfor %}


        <hr class="gold70">
    <!--Comments container-->
        <div class="row">
            <div class="col-sm-10">
                <small class="text-muted my-2">View Comments and Replies</small>
                
                {% if comments.is_shop %}
                <div class="row">
                    <div class="col">
                        <p class="text-reddark">{{ comments.comment }}</p>
                        <p class="text-reddark">{{ comments.user_profile }}</p>
                        <p class="text-reddark">{{ comments.recipe }}</p>
                        <p class="text-reddark">{{ comments.name }}</p>
                        <p class="text-reddark">{{ comments.is_shop }}</p>
                        <p class="text-reddark">{{ comments.date_posted }}</p>
                    </div> 
                </div>
                <hr>
                {% else %}
                <div class="row">
                    <div class="col">
                        <p class="text-grey">{{ comments }}</p>
                    </div>
                </div>
                <hr>
                {% endif %}                
            </div>
        </div>
    </div>
{% endblock %}