{% extends "base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js">
<!--<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.bootstrap.min.css">-->
{% endblock %}

{% block extra_js %}
   <script src='https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js'></script>
   <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js" charset="utf-8"></script>
<script>
  $(document).ready(function() {
    $('#chat_box').DataTable( {
        "ordering": false
    } );
} );
</script>
{% endblock %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid recipies-container">
            <!--title-->
            <div class="row">
                <div class="col text-center mt-1">
                    <h2 class="display-3 playball">Chat</h2>
                    <h2 class="playball">Comments, Questions and Replies</h2>
                    <hr class="gold50 mb-1">
                </div>
            </div>

            <!--Comments Form container-->    
        <div class="row comment_form my-1">
            <div class="col-10 offset-1">
            {% if request.user.is_authenticated %}
            <small class="text-muted my-2">Add comment or question</small>
            <!--Add Comment-->
            <form class="lato" id="comment" method="POST" action="{% url 'chat' %}">
                {% csrf_token %}  
                
                {{ form.comment | as_crispy_field }} 
                {{ form.name | as_crispy_field }} 
                            
                {% if request.user.is_superuser %}
                <div>
                <label class="form-check-label" for="is_shop">Check here if in-house reply</label>
                <input class="form-check-input ml-2 mr-0" type="checkbox" id="is_shop" name="is_shop">
                </div>
                {% endif %}
                <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}">
                <button class="btn btn-gold float-right" type="submit" name="comment_but" id="comment_but">
                    Submit 
                </button>
            </form>
            {% else %}
            <div class="inline float-right my-2 mr-0">
                <label class="form-check-label" for="login">
                    <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or 
                    <a class="text-info" href="{% url 'account_login' %}">login</a> to add comment
                </label>            
            </div>
            {% endif %}
            </div>
        </div>
        <hr class="gold70 my-5">
    <!--Comments container-->
        <div class="row">
            <div class="col-sm-10">
                <small class="text-muted my-2">View Comments and Replies</small> 
                <div class="table-responsive rounded">
                    <table id="chat_box" class="table table-sm table-striped table-borderless" cellspacing="0" width="100%">
                        <thead class="">
                            <tr>
                                <th>Messages</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for comment in comments %}              
                            {% if comment.is_shop %}
                            <tr>
                                <td class="p-1 w-100">
                                    <p class="lato text-reddark">{{ comment.comment }}</p>
                                    <p class="lato text-right text-reddark">{{ comment.name }} - {{ comment.date_posted }}</p>
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td class="p-1 w-100">
                                    <p class="latp">{{ comment.comment }}</p>
                                    <p class="text-right lato">{{ comment.name }} - {{ comment.date_posted }}</p>
                                </td>
                            </tr>
                            {% endif %}       
                        {% endfor %} 
                    </tbody>   
                    
                    </table>   
                </div>
            </div>
        </div>
    </div>
{% endblock %}