{% extends "base.html" %}
{% load static %}
{% load bagtools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid bag-container w-100 h-100">
    <!--title-->
    <div class="row">
        <div class="col text-center mt-1">
            <h2 class="playball">The Goodies Shopping Bag</h2>
            <ul class="list-inline">
            {% for item in categories_selected %}                   
                <li class="list-inline-item"> 
                <h4 class=" playball" >{{ item.friendly_name }}</h4>
                </li>
            {% endfor %}
            </ul>
            <hr class="gold50 mb-1">
        </div>
    </div>
        <div class="row">
            <div class="col">
                {% if bag_items %}

                {{ bag_items }}
                <br>
                <br>
                {{ request.session.bag }}
                    <div class="table-responsive rounded">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Item</th>
                                    <th scope="col"></th>
                                    <th scope="col">Size</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in bag_items %}
                                <tr>
                                    <!--image-->
                                    <td class="p-3 w-25">
                                        <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                                    </td>
                                    <!--name-->
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                    </td>
                                    <!--size-->
                                    {% if item.product.is_sizes %}
                                    <td class="py-3">
                                        <p class="my-0">{{ item.size }}</p>
                                    </td>
                                    {% elif item.product.is_for_six %}
                                    <td class="py-3">
                                        <p class="my-0">{{ item.forsix }}</p>
                                    </td>
                                    {% else %}
                                    <td class="py-3">
                                        <p class="my-0">N/A</p>
                                    </td>
                                    {% endif %}
                                    <!--price-->
                                    <td class="py-3">
                                        <p class="my-0"><strong> E{{ item.price|floatformat:2 }}</strong></p>
                                    </td>
                                    <!--quantity-->
                                    <td class="py-3 w-25">
                                        <form class="form update-item-form" method="POST" action="{% url 'update_bag' item.item_id %}">
                                            {% csrf_token %}
                                            <div class="form-group pl-0">
                                                <div class="input-group pl-0">
                                                    <div class="input-group-prepend">
                                                        <button class="pr-1 decrement-qty btn btn-quantity rounded-0" 
                                                            data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                            <span class="icon-sm plus font-weight-bold mx-auto my-auto">-</span>
                                                        </button>
                                                    </div>
                                                    <input class="form-control qty_input text-gold " type="number"
                                                        name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                        data-item_id="{{ item.item_id }}"
                                                        id="id_qty_{{ item.item_id }}">
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-quantity rounded-0"
                                                            data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                            <span class="icon-sm plus font-weight-bold mx-auto my-auto">+</span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <input data-item_id="{{ item.item_id }}" id="quantity_butbag" type="submit" class="btn rounded-0 upper" value="Update">
                                                
                                                {% if item.product.is_sizes %}
                                                    <input type="hidden" name="product_size" value="{{ item.sizeprice }}">
                                                {% endif %}
                                                {% if item.product.is_for_six %}
                                                    <input type="hidden" name="product_forsix" value="{{ item.forsixprice }}">
                                                {% endif %}
                                            </div>
                                        </form>                                          
                                        <!--remove buttons-->
                                        {% if item.product.is_sizes %}
                                        <a href="{% url 'remove_from_bag_sizes' item.item_id item.sizeprice %}" class="btn btn-light rounded-0 right mt-5" onclick="return confirm('Are you sure you want to remove this item?');">
                                            <span class="text-uppercase">Remove</span>
                                        </a>
                                        {% elif item.product.is_for_six %}
                                        <a href="{% url 'remove_from_bag_six' item.item_id item.forsixprice %}" class="btn btn-light rounded-0 right mt-5" onclick="return confirm('Are you sure you want to remove this item?');">
                                            <span class="text-uppercase">Remove</span>
                                        </a>                                       
                                        {% else %}
                                        <a href="{% url 'remove_from_bag' item.item_id %}" class="btn btn-light rounded-0 right mt-5" onclick="return confirm('Are you sure you want to remove this item?');">
                                            <span class="text-uppercase">Remove</span>
                                        </a>
                                        {% endif %}
                                    </td>
                                    <!--subtotal-->
                                    <td class="py-3">
                                        <p class="my-0">E{{ item.price | sum_subtotal:item.quantity }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    <h6><strong>Bag Total: E{{ total|floatformat:2 }}</strong></h6>
                                    <h6>Delivery: E{{ delivery|floatformat:2 }}</h6>
                                    <h4 class="mt-4"><strong>Grand Total: E{{ grand_total|floatformat:2 }}</strong></h4>
                                    {% if free_delivery_gap > 0 %}
                                        <p class="mb-1 text-danger">
                                            Free delivery if you spend <strong>E{{ free_delivery_delta }}</strong> more!
                                        </p>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'shop' %}" class="btn bg-gold">
                                        <span class="text-uppercase">Find more Goodies</span>
                                        <span class="icon">
                                            <i class="fas fa-chevron-right"></i>
                                        </span>
                                        
                                    </a>
                                    <a href="" class="btn bg-gold">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                <div class="text-center">
                    <h3 class="playball my-5">No goodies yet <i class="fas fa-grin-tears"></i><i class="far fa-grin-tears"></i></h3>
                    <a href="{% url 'shop' %}" class="btn bg-gold">
                        <span class="text-black">Take another look.</span>
                        <span class="icon">
                            <i class="fas fa-chevron-right"></i>
                        </span>
                    </a>
                </div>
                {% endif %}
            </div>
        </div> 
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'bag/includes/quantity_selector_bag.html' %}
{% endblock %}