{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid bag-container w-100 h-100">
    <!--title-->
    <div class="row">
        <div class="col text-center mt-1">
            <h2 class="playball">The Goodies Shopping Bag</h2>
            <ul class="list-inline">
            {% for item in categories_selected %}                   
                <li class="list-inline-item"> 
                <h4 class=" playball" >{{ item.friendly_name }}</h4>
                </li>
            {% endfor %}
            </ul>
            <hr class="gold50 mb-1">
        </div>
    </div>
        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div class="table-responsive rounded">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Item</th>
                                    <th scope="col"></th>
                                    <th scope="col">Size</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in bag_items %}
                                <tr>
                                    <!--image-->
                                    <td class="p-3 w-25">
                                        <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                                    </td>
                                    <!--name-->
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                    </td>
                                    <!--size - price-->
                                    {% if item.product.is_sizes %}
                                    <td class="py-3">
                                        <p class="my-0">size - ${{ item.product.web_price }}</p>
                                    </td>
                                    {% elif item.product.is_for_six %}
                                    <td class="py-3">
                                        <p class="my-0">for6 - ${{ item.product.web_price }}</p>
                                    </td>
                                    {% else %}
                                    <td class="py-3">
                                        <p class="my-0">${{ item.product.web_price }}</p>
                                    </td>
                                    {% endif %}
                                    <!--quantity-->
                                    <td class="py-3 w-25">
                                        <p class="my-0">{{ item.quantity }}</p>
                                    </td>
                                    <!--subtotal-->
                                    <td class="py-3">
                                        <p class="my-0">${{ item.product.web_price }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    <h6><strong>Bag Total: ${{ total|floatformat:2 }}</strong></h6>
                                    <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                                    <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                                    {% if free_delivery_gap > 0 %}
                                        <p class="mb-1 text-danger">
                                            Free delivery if you spend <strong>${{ free_delivery_delta }}</strong> more!
                                        </p>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'shop' %}" class="btn bg-gold">
                                        <span class="text-uppercase">Find more Goodies</span>
                                        <span class="icon">
                                            <i class="fas fa-chevron-right"></i>
                                        </span>
                                        
                                    </a>
                                    <a href="" class="btn bg-gold">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                <div class="text-center">
                    <h3 class="playball my-5">No goodies yet <i class="fas fa-grin-tears"></i><i class="far fa-grin-tears"></i></h3>
                    <a href="{% url 'shop' %}" class="btn bg-gold">
                        <span class="text-black">Take another look.</span>
                        <span class="icon">
                            <i class="fas fa-chevron-right"></i>
                        </span>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}