<div class="row bag-buttons mt-2 mt-sm-5 mx-0 px-0">
    <div class="col-sm-6 text-center mx-0 px-0">
        <a href="{% url 'shop' %}" class="btn btn-gold px-3">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span class="upper lato"><strong>Back to Shop</strong></span>
        </a>
    </div>
    <div class="col-sm-6 text-center mx-0 px-0">
        <a href="{% url 'checkout' %}" class="btn btn-gold mt-3 mt-sm-0">
            <span class="upper lato"><strong>Secure Checkout</strong></span>
            <span class="icon">
                <i class="fas fa-lock"></i>
            </span>
        </a>
    </div>
</div>
