{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container delivery-container">
        <!--title-->
        <div class="row">
            <div class="col text-center mt-1">
                <h2 class="playball">Delivery Charges</h2>
                <hr class="gold50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>All deliveries in the Dublin Greater city area are 10 Euro.<br>
                   All deliveries on orders over 50 Euro are free.</h3>
                  
            </div>    
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% endblock %}
