{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div> 
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-6">
                <div id="delivery">
                    <div class="row">
                        <div class="col-6 offset-6 text-center">
                            <h1 class="playball mt-5 ml-1 pt-4">
                                <strong>
                                Sorry!<br>
                                No Image<br>
                                Available</strong></h1>
                        </div>                       
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% endblock %}
