{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">mm</div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container home-container h-100">
        <div class="row h-100">
            <div class="col-8 offset-2">
                <h2 class="display-2 upper text-danger my-5">
                    Begin Your Journey Now
                </h2>
                <div class="my-5">
                    <h4>
                        <a href="" class="btn btn-black btn-sm rounded-sm text-uppercase py-3">enter</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}