{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container home-container">
        <div class="row my-0 mr-0">
            <div class="col-12 col-sm-8 offset-sm-2 mt-5">
                <h2 class="display-4 explore upper text-gold">
                    Explore our Delights
                </h2>
                <p class="font-weight-bold px-1 text-gold">Free delivery on orders over E{{ free_delivery_total }}</p>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'shop' %}" class="btn enter-button btn-black upper">enter</a>
                    </h4>
                </div>
                <div>                    
                    <p class="font-weight-bold px-1 text-gold">Account holders get Free Gift Presentation Extras 
                        and can chat directly with our Master pastry chefs on all things patisserie. 
                    </p>
                    <h4>
                        <a href="{% url 'account_signup' %}" class="btn enter-button btn-black upper">Sign Up</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{% endblock %}