{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
   <div class="row">
      <div class="col"></div>
   </div>
</div>
{% endblock %}
{% block content %}
<div class="container resize-container lato">
   <!--title-->
   <div class="row">
      <div class="col text-center mt-1">
         <h2 class="playball">Resize Instructions</h2>
         <hr class="gold50 mb-1">
      </div>
   </div>
   <div class="row">
      <div class="col text-center mt-1">
         <a class="btn btn-blue" href="{% url 'add_product' %}">Back to Add Product</a>
      </div>
   </div>
   <div class="row">
      <div class="col">
         <h3>Step 1</h3>
         <p>Go to <a class="linkcol" href="https://img-resize.com/" target="_blank" rel="noopener">img-resize.</a></p>
      </div>
   </div>
   <div class="row">
      <div class="col">
         <h3>Step 2</h3>
         <p>You will see this page</p>
         <div class="instruction-img my-3">
            <img class="img-fluid " src="{{ MEDIA_URL }}siz1.png" alt="resize instruction">
         </div>
         <ul class="mt-3">
            <li>
               <p>Under Input Image click the Choose file box.</p>
            </li>
            <li>
               <p>Select the image from your device you wish to upload.</p>
            </li>
            <li>
               <p>Click the <strong> Scale</strong> option and set it to width 450px height 300px.</p>
            </li>
            <li>
               <p>Click Resize</p>
            </li>
         </ul>
      </div>
   </div>
   <div class="row">
      <div class="col">
         <h3>Step 3</h3>
         <div class="instruction-img my-3">
            <img class="img-fluid" src="{{ MEDIA_URL }}res-view.png" alt="">
         </div>
         <ul>
            <li>
               <p>Under "Your Resized Images" click view.</p>
            </li>
            <li>
               <p>If the result is to you liking right click and save.<br>
               </p>
            </li>
            <li>
               <p>If not happy check the Letterbox option with width 450px and height 300px
                  and "color fill "#ffffff" and again click resize. 
               </p>
            </li>
            <li>
               <p>Again click view and save, (see image below)
               </p>
            </li>
         </ul>
      </div>
   </div>
   <div class="row">
      <div class="col">
         <h3>Letterbox</h3>
         <div class="instruction-img my-3">
            <img class="img-fluid" src="{{ MEDIA_URL }}siz-let.png" alt=""> 
         </div>
      </div>
   </div>
</div>
{% endblock %}