/*--css for the Profiles app--*/

#id_primary_country option:first-child {
    color: #507294;
}

.profile-input-style::placeholder {
    color: #aab7c4;
}

#profile-update-form .form-control {
    color: #000;
}

#id_primary_country,
#id_primary_country option:not(:first-child) {
    color: #000;
}

.order-history {
    max-height: 416px; 
    overflow-y: auto;
}