/*----------------------General----------------------*/

html {
    height: 100%;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}
.row {
    margin: 0;
	padding-right: 0;
    padding-left: 0;
	border: 0;
}

/*--Fonts--*/

body {
    color: #474343;
	/*color: #696666;*/
    font-family: "Playfair Display", serif;   
}

.header-container {
    padding-top: 180px;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.playball {
    font-family: 'Playball', cursive;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.playfair {
    font-family: "Playfair Display", serif; 
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.center-div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.topnav-link {
    display: block;
    padding: .5rem 1rem;
}

.navbar-nav .nav-link {
    padding-right: 50px; 
    padding-left: 50px; 
}

.no-marginx {
    margin-left: 0!important;
    margin-right: 0!important;
}

/*-----line breaks------*/

hr.gold50 {
	border-top: 2px solid gold;
	margin: 10px auto 0px;
	width: 50%;
}

hr.gold70 {
	border-top: 2px solid gold;
	margin: 5px auto 5px;
	width: 70%;
}

hr.gold100 {
	border-top: 2px solid gold;
	margin: 5px auto 5px;
	width: 100%;
}

hr.goldleft {
	border-top: 2px solid gold;
	width: 200px;
}


hr.grey100 {
    border-top: 2px solid #666666;
	margin: 5px auto 0px;
	width: 100%;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.icon-sm {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1rem;
    width: 1rem;
}

.upper {
    text-transform: uppercase;
}

/*--buttons--*/

.enter-button {
    background: #fff;
    color: #696666;
    min-width: 120px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn-light {
    background: #fff;
    color: #696666;
}

.btn-bordergold {
    background: rgb(255,215,0);
    color: #000;
    border: 1px solid #000;
}

.btn-gold {
    background: rgb(255,215,0);
    color: rgb(71, 68, 68);
    font-weight: 700;
}

.btn-blue {
    background: rgb(232, 240, 254);
    color: rgb(71, 68, 68);
    font-weight: 700;
}

.btn-black {
    background: black;
    color: white;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.enter-button:hover,
.enter-button:active,
.enter-button:focus {
    background: rgb(71, 68, 68);
    color: white;
}

.btn-quantity {
    color: white;
    height: 26px !important;
    padding: 0rem .75rem;
    background: #3e3434;
}

.btn-quantity:hover,
.btn-quantity:active,
.btn-quantity:focus {
    background: #222;
    color: white;
}

.btn-quantity-sm {
    background: #9e9696;
    color: #fff;
    height: 20px !important;
    padding: 0rem .50rem;
    font-size: 1rem !important;
    line-height: 1rem !important;
}

.btn-quantity-sm:hover,
.btn-quantity-sm:active,
.btn-quantity-sm:focus {
    background: #996565;
    color: rgba(255, 255, 255, 0.89);
}

.form-check-input {
    color: #000;
    background-color: black;
}

.form-check-input[type=checkbox], input[type=radio] {
    color: black;
    background-color: black;
    border-color: black;
}
input[type=checkbox], input[type=radio] {
    color: black;
    background-color: black;
    border-color: black;
}

.form-check-input[type=checkbox], input[type=radio]:checked {
    color: black;
    background-color: black;
    border-color: black;
}

.form-check-input:hover,
.form-check-input:active,
.form-check-input:focus,
.form-check-input:checked {
    background: #996565;
    color: rgba(255, 255, 255, 0.89);
    background-color: black;
}

.form-check-input[type='radio']:checked:after {
    color: black;
    border: 2px solid white;
}

/*return to top button*/

#topbut {
	display: none;
	position: fixed;
	bottom: 60px;
	right: 10px;
	z-index: 99;
	height: 34px;
	width: 90px;
	background-color: rgba(209, 161, 16, 0.993);
	border: none;
	font-weight: bold;
	border-radius: 5px;
	outline: none;
	color: #fafafa;
	cursor: pointer;
	font-size: 24px;
}

#topbut:hover {
	background-color: #666666;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.6);
}

/*--colors--*/

.text-white {
    color: #fff;
}

.bg-pink {
    background-color: #f8ebf9;;
}

.text-forgot-blue {
    color: #042c33;
}

.text-black {
    color: #000 !important;
}

.text-softblack {
    color: #3e3434;
}

.bg-black {
    background-color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.text-mattblack {
    color: #3b444b;
}

.bg-mattblack {
    background-color: #3b444b;
}

.text-antiquewhite {
    color: antiquewhite;
}

.bg-antiquewhite {
    background-color: antiquewhite;
}

.bg-lightblue {
    background-color: rgb(232, 240, 254);
}


.text-lightgold {
    color: rgb(255,215,0);
}

.text-gold3 {
    color: rgb(150, 131, 27);
}

.text-gold {
    color: rgb(140, 111, 25, 99%);
}

.text-gold1 {
    color: rgba(209, 161, 16, 0.993);
}

.text-gold2 {
    color: rgb(206, 176, 12);
}

.bg-gold {
    background-color: rgb(255,215,0);
}

.text-lightgrey {
    color: #777777;
}

.bg-redlight {
    background-color: #f70a0a;
}

.text-redlight {
    color: #f70a0a;
}

.bg-red {
    background-color: #da0808;
}

.text-red {
    color: #da0808;
}

.bg-reddark {
    background-color: rgb(119, 6, 6);
}

.text-reddark {
    color: rgb(119, 6, 6);
}

.text-grey {
    color: #696666;
}

#account-text {
    font-size: 1.25rem;
    font-weight: 700;
}

.navbar-light .navbar-toggler {
    border-color: #fff;
}

#main-nav {
    background-color: #fff;
}

/*--home page--*/

.home-container {
    background: url('/media/digi1.jpg') no-repeat center center fixed;
    background-size: cover;
    background-color: rgb(97, 59, 59);
    font-family: 'Lato';
}

/*--shop page--*/

.product-container {
    width: 100%;
}

#card {
    border: 0;
    border-bottom: 2px solid red;
    padding-top: 30px;
}

.select-btn {
    color: #353d46;
    background-color: #e8ecf0;
    border-color: #e8ecf0;
}

.quickpick {
    width: 90%;
    height: 90%;
    border: 2px solid red;
}

/*--search--*/

#inner-search input[name='q'] {
    color: #000 !important;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

#search-but {
    /*height: 26px;*/
    border: 1px solid rgb(94, 91, 91);
}

/*--for search--*/
.input-group>.custom-file.inner-search, 
.input-group>.custom-select.inner-search, 
.input-group>.form-control.inner-search, 
.input-group>.form-control-plaintext.inner-search {
    border-color: rgb(94, 91, 91);
    color: #000 !important;
}

/*--for view item page--*/
.input-group>.custom-file.view-it, 
.input-group>.custom-select.view-it, 
.input-group>.form-control.view-it, 
.input-group>.form-control-plaintext.view-it {
    height: 26px !important;
    color: #000 !important;
}

/*--for shop page--*/
.input-group>.custom-file.small-input, 
.input-group>.custom-select.small-input, 
.input-group>.form-control.small-input, 
.input-group>.form-control-plaintext.small-input {
    height: 20px !important;
    border-color: white;
    padding-left: 10px !important;
}

#quicksub-but {
    width: 70px;
    height: 20px;
    padding: 0;
} 

.view {
    height: 26px;
}

/* ---------------------View Iten---------- */

#reviews_button {
    cursor: pointer;
}

/* ---------------------Recipes---------- */cursor: pointer;

.v {
    border-top: 2px solid rgba(68,125,117,.1);
    color: #333;
}


/* ---------------------Chat---------- */

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 80px;
    right: 10px;
    z-index: 999999;
}

.toast-style {
    overflow: visible;
}

.toast-hr {
    height: 1px;
}

.toast-hr2 {
    height: 2px;
}

.toast-hr3 {
    height: 3px;
}

.bag-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* ------------- Checkout Page ----------- */

.gift-wrapper {
    border: 1px solid rgb(255,215,0);
}

/* ------------- Profile Page ------------*/

/*.order-history {
    border: 1px solid rgb(255,215,0);
}*/

/* Product Form Image Widget*/

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-widget-box .custom-widget-label::before {
    border-color: #9b1724;
}

.custom-widget-box #image-clear_id .custom-widget-input:checked~.custom-widget-label::before {
    background-color: #e45f6c;
    border-color: #e45f6c;
}


/*---------- Allauth ---------*/

.login-container {
    background: url('/media/pink_back.jpeg') no-repeat center center fixed;
    background-size: cover;
    background-color: rgb(194, 71, 188);
    width: 100%;
}

.login-box {
    background-color: #fff;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    font-weight: 700;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
    background-color: rgb(140, 111, 25, 99%);
}

.allauth-form-inner-content a {
	color: #17a2b8;  
    font-weight: 700;
}

#hombut {
    color: #1a7584;
}

#hombut2 {
    color: #1a7584;
}

#hombut3 {
    color: #1a7584;
}

.allauth-form-inner-content a:hover {
	color: #5fd6e9; 
    text-decoration: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

/* -------------------------------- Media Queries */

/*larger container on xl screens*/ 
@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 1000px) {
    .home-container {
      max-width: 100%;
    }
  }

/* nav links */
@media (max-width: 600px) {
    .topnav-link {
        padding-right: 0px !important;
        padding-left: 0px !important;
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
  }