/*----------------------General----------------------*/

html {
    height: 100%;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}

.row {
    margin: 0;
	padding-right: 0;
    padding-left: 0;
	border: 0;
}

/*--Fonts--*/

body {
	color: #777777;
    font-family: "Playfair Display", serif;   
}

.lato {
    font-family: 'Lato', sans-serif;
}

.playball {
    font-family: 'Playball', cursive;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.playfair {
    font-family: "Playfair Display", serif; 
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.center-div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.topnav-link {
    display: block;
    padding: .5rem 1rem;
}

.navbar-nav .nav-link {
    padding-right: 50px; 
    padding-left: 50px; 
}

/*-----line breaks------*/

hr.gold50 {
	border-top: 2px solid gold;
	margin: 10px auto 0px;
	width: 50%;
}

hr.gold70 {
	border-top: 2px solid gold;
	margin: 5px auto 5px;
	width: 70%;
}

hr.gold100 {
	border-top: 2px solid gold;
	margin: 5px auto 5px;
	width: 100%;
}


hr.grey100 {
    border-top: 2px solid #666666;
	margin: 5px auto 0px;
	width: 100%;
}

.header-container {
    padding-top: 150px;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.upper {
    text-transform: uppercase;
}

.enter-button {
    background: #fff;
    color: rgba(0,0,0,.5);
    min-width: 120px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn-black {
    background: #fff;
    color: rgba(0,0,0,.5);
}

.enter-button:hover,
.enter-button:active,
.enter-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: rgb(71, 68, 68);
    color: white;
}

/*return to top button*/
#topbut {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 50px;
	z-index: 99;
	height: 34px;
	width: 90px;
	background-color: rgba(209, 161, 16, 0.993);
	border: none;
	font-weight: bold;
	border-radius: 5px;
	outline: none;
	color: #fafafa;
	cursor: pointer;
	font-size: 24px;
}

#topbut:hover {
	background-color: #666666;
}

/*--colors--*/

.text-black {
    color: #000 !important;
}

.bg-black {
    background-color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.text-mattblack {
    color: 3b444b;
}

.bg-mattblack {
    background-color: #3b444b;
}

.text-antiquewhite {
    color: antiquewhite;
}

.bg-antiquewhite {
    background-color: antiquewhite;
}


.text-lightgold {
    color: rgb(255,215,0);
}

.text-gold3 {
    color: rgb(114, 99, 16);
}

.text-gold {
    color: rgba(209, 161, 16, 0.993);
}

.text-gold2 {
    color: rgb(206, 176, 12);
}

.bg-gold {
    background-color: rgb(255,215,0);
}

.text-lightgrey {
    color: #777777;
}

.text-grey {
    color: rgba(0,0,0,.6);
}

#account-text {
    font-size: 1.25rem;
    font-weight: 700;
}

.navbar-light .navbar-toggler {
    border-color: #fff;
}

#main-nav {
    background-color: #fff;
}

/*--home page--*/

.home-container {
    background: url('/media/digi1.jpg') no-repeat center center fixed;
    background-size: cover;
    color: rgb(97, 59, 59);
    font-family: 'Lato';
}

.header-container {
    padding-top: 180px;
}

/*--shop page--*/

.product-container {
    width: 100%;
}

#card {
    border: 0;
    border-bottom: 2px solid red;
    padding-top: 30px;
}

.select-btn {
    color: #353d46;
    background-color: #e8ecf0;
    border-color: #e8ecf0;
}

/* -------------------------------- Media Queries */

/*larger container on xl screens*/ 
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}
@media (max-width: 1000px) {
    .home-container {
      max-width: 100%;
    }
  }

/* nav links */
@media (max-width: 600px) {
    .topnav-link {
        padding-right: 0px !important;
        padding-left: 0px !important;
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
  }