<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav lato w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="upper font-weight-bold nav-link text-grey mr-3" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'shop' %}?sort=web_price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'shop' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'shop' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'shop' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="upper font-weight-bold nav-link text-grey mr-3" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Selection Boxes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'shop' %}?category=creamcake_selection" class="dropdown-item">Buns and Creamy Treats</a>
                <a href="{% url 'shop' %}?category=breakfast_selection" class="dropdown-item">Breakfast</a>
                <a href="{% url 'shop' %}?category=office_selection" class="dropdown-item">Office</a>
                <a href="{% url 'shop' %}?category=creamcake_selection,breakfast_selection,office_selection" class="dropdown-item">All Selection Boxes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="upper font-weight-bold nav-link text-grey mr-3" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cakes and Deserts
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'shop' %}?category=cakes" class="dropdown-item">Cakes</a>
                <a href="{% url 'shop' %}?category=cheese_cakes" class="dropdown-item">Cheesecakes</a>
                <a href="{% url 'shop' %}?category=deserts" class="dropdown-item">Deserts</a>
                <a href="{% url 'shop' %}?category=occasion_cakes" class="dropdown-item">Occasion Cakes</a>
                <a href="{% url 'shop' %}?category=cheese_cakes,deserts,occasion_cakes" class="dropdown-item">All Cakes and Deserts</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="upper font-weight-bold nav-link text-grey mr-3" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Buns and Creamy Treats
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'shop' %}?category=eclairs_creamcakes_treats" class="dropdown-item">Creamy Treats</a>
                <a href="{% url 'shop' %}?category=donuts" class="dropdown-item">Donuts</a>
                <a href="{% url 'shop' %}?category=cookies" class="dropdown-item">Cookies</a>
                <a href="{% url 'shop' %}?category=muffins" class="dropdown-item">Muffins</a>
                <a href="{% url 'shop' %}?category=eclairs_creamcakes_treats,muffins,donuts,cookies" class="dropdown-item">All Buns and Creamy Treats</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="upper font-weight-bold nav-link text-grey" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Specials
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'shop' %}?category=vegan" class="dropdown-item">Vegan</a>
                <a href="" class="dropdown-item">Office Deals</a>
                <a href="" class="dropdown-item">Catering</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>