{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div> 
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container login-container">
    <!--title-->
    <div class="row">
        <div class="col text-center mt-1">
            <h2 class="playball">Page Unavailable</h2>
            <hr class="gold50 mb-1">
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <div class="login_box mt-5">
            <h3 class="mt-5">
                Sorry that page is unavailable.<br>
                Head back to the shop.
            </h3>
            <a href="{% url 'shop' %}" class="btn btn-blue mt-3" 
            aria-label="Back to the shop button"> 
            <i class="fas fa-chevron-left mr-1"></i> Back to Shop </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}