{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato:ital,wght@0,400;0,700;1,400&family=Parisienne&family=Playball&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
            integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous">
        </script>
        <!--select-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
        <script src="{% static 'js/base.js' %}"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Silver Dollar{% block extra_title %}{% endblock %}</title>
</head>

<body>
    <button id="topbut" title="Return to top">Top</button>

    <header class="container-fluid fixed-top bg-white">
        <!--name row-->
        <div class="row">
            <div class="col-3 px-0 mx-0">
                <!--search form large-->
                <!--<div class="d-none d-lg-flex my-auto py-1 py-lg-0">
                <form method="GET" action="">
                    <div class="input-group">
                        <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="d-block d-lg-none my-auto py-1 py-lg-0">-->
                <!--search form mobile and large-->
                <div class="">
                    <a class="text-grey float-right topnav-link" href="#" id="" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <div class="">
                            <p class="float-left ">Search</p>
                            <span class="icon float-right">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                    </a>
                    <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="">
                        <form method="GET" action="{% url 'shop' %}">
                            <div class="input-group w-100">
                                <input class="form-control" type="text" name="q"
                                    placeholder="Find">
                                <div class="input-group-append">
                                    <button class="form-control btn btn-black border"
                                        type="submit">
                                        <span class="icon">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--name-->
            <div class="col-6 my-auto py-1 text-center">
                <h2 class="name text-black"><strong>Silver Dollar</strong></h2>
            </div>
            <!--total-->
            <div class="col-3 pr-0 pl-0">
                <a class="{% if grand_total %}text-gold font-weight-bold{% else %}text-gold{% endif %} topnav-link" href="{% url 'bag' %}">
                    <div class="">
                        <span class="icon float-left">
                            <i class="fas fa-shopping-bag"></i>
                            &nbsp;
                        </span>
                        <p class="my-1 ">
                            {% if grand_total %}                               	
                                &#8364; {{ grand_total|floatformat:2 }}
                            {% else %}
                                &#8364; 0.00
                            {% endif %}
                        </p>
                    </div>
                </a>
        </div>
        <hr class="grey100" />
        
        <!--bottom row-->
        <div class="row w-100">
            <!--products-->
                <nav class="navbar pb-0 lato navbar-expand-lg navbar-light w-100">
                    <!--account-->
                <li class="list-inline-item my-auto">  
                    <a class="topnav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="">
                            <p id="account-text" class="text-grey my-0">My Account</p>
                        </div>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="user-options">
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                                <a href="" class="dropdown-item">Manage Site</a>
                            {% endif %}
                            <a href="" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </div>
                    </li>
                    <button class="text-center my-auto py-1 navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="font-weight-bold text-grey">Products</span>
                    </button>
                    {% include 'includes/product-nav.html' %}
                </nav>
        </div>

        <div class="row w-100">
            <div class="col w-100">
                <div id="banner" class="w-100 bg-mattblack text-center text-antiquewhite">
                <h4 class="my-1">Sale on all Large Deserts</h4> 
                </div>               
            </div>                   
        </div>
    </header>

    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <script src="{% static 'js/top.js' %}"></script>
    {% endblock %}

</body>

</html>