<!--Shopping Bag functions primarily to increase and decrease the 
quantity selector. This is a different method to the Boutique Ado code-->

<script type="text/javascript">

    /*--Function to increment quantity selector only if value
    is less than 98--*/

    $('.increment-qty').click(function(e) {
    e.preventDefault();
    var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
    var currentValue = parseInt($(closestInput).val());
    if (currentValue <= 98) {
      $(closestInput).val(currentValue + 1);
    }        
    });

    /*--Function to decrement quantity selector only if value
        is greater than 2--*/
        
    $('.decrement-qty').click(function(e) {
    e.preventDefault();
    var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
    var currentValue = parseInt($(closestInput).val());
    if (currentValue >= 2) {
      $(closestInput).val(currentValue - 1);
    }
    });

</script>