{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid management-container w-100 h-100">
        <!--title-->
        <div class="row">
            <div class="col text-center mt-1">
                <h2 class="playball">Product Management</h2>
                <hr class="gold50 mb-1">
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h5 class="text-muted">Add a Product</h5>
                <p class="text-black">
                    For products with size prices select <strong>Is Sizes</strong><br> 
                    For products with box quantity prices select <strong>Is For Six</strong><br> 
                    On submit you will be taken to the <strong>Add Prices</strong> form
                </p>
                <p class="text-red">Important! You must only select either Is Sizes
                    or Is For Six for each product</p>
            </div>
            <div class="col-12 col-lg-6">
                <form method="POST" action="{% url 'add_product' %}" class="lato form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="row">
                        <div class="col text-center">
                            <a class="btn btn-blue" href="{% url 'shop' %}">Cancel</a>
                        </div>
                        <div class="col text-center">                   
                            <button class="btn btn-gold" name="product_form" type="submit">Add Product</button>
                        </div>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}