{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid management-container w-100 h-100">
        <!--title-->
        <div class="row">
            <div class="col text-center mt-1">
                <h2 class="playball">Product Management</h2>
                <hr class="gold50 mb-1">
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6">
                <h5 class="text-muted">Edit a Product's Box Quantity Prices</h5>
                <small class="text-mutes">The Product's name in the first two fields may not be edited</small>
                <form method="POST" action="{% url 'forsixprice_edit' product.id %}" class="lato form mb-2">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="row">
                        <div class="col text-center">
                            <a class="btn btn-blue" href="{% url 'shop' %}">Cancel</a>
                        </div>
                        <div class="col text-center">                   
                            <button class="btn btn-gold" name="edit_forsixprice_form" type="submit">Update Prices</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}