{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid shop-container w-100 h-100">
    <!--title-->
    <div class="row">
        <div class="col text-center mt-1">
            <h2 class="playball">The Goodies</h2>
            <ul class="list-inline">
                {% for item in categories_selected %}
                <li class="list-inline-item">
                    <h4 class=" playball">{{ item.friendly_name }}</h4>
                </li>
                {% endfor %}
            </ul>
            <hr class="gold50 mb-1">
        </div>
    </div>
    <!--product container with menu-->
    <div id="menu-con" class="menu-product-container">
        <!--menu button-->
        <div class="row mb-1">
            <div class="col">
                <button id="hide-menu-button" class="bg-gold">Close Menu</button>
            </div>
        </div>
        <div class="row">
            <!--menu-->
            <div class="col-lg-3">
                <form method="GET" action="">
                    <div class="">
                        <div class="select-label text-grey upper">
                            <p>type</p>
                            <hr class="grey70" />
                        </div>
                        <select id="type_picker" class="selectpicker mt-5" multiple name="type"
                            aria-label="type select picker" data-style="select-btn">
                            <option value="">bun</option>
                            <option value="">cake</option>
                            <option value="">desert</option>
                            <option value="">croissant</option>
                        </select>
                    </div>
                    <div class="mt-5">
                        <button class="btn px-5 bg-info text-black" type="submit"
                            aria-label="Submit Button">Find</button>
                    </div>
                    <!--refresh button-->
                    <div class="mt-5">
                        <button id="refresh-type" class="btn px-5 bg-info text-black"
                            aria-label="Refresh Button">Refresh</button>
                    </div>
                </form>
            </div>
            <!--products-->
            <div class="col-lg-9">
                <div class="product-container">
                    <div class="row">
                        <div class="col">
                            {% if search_words %}
                            <small class="float-left">Results for <strong>{{ search_words }}</strong></small>
                            {% endif %}
                            {% if current_sorting == 'web_price_asc' %}
                            <p class="float-left"><strong>Price - Low to High</strong></p>
                            {% endif %}
                            {% if current_sorting == '-web_price_desc' %}
                            <p class="float-left"><strong>Price - High to Low</strong></p>
                            {% endif %}
                            {% if current_sorting == '-rating_desc' %}
                            <p class="float-left"><strong>Rating - High to Low</strong></p>
                            {% endif %}
                            {% if current_sorting == 'category__name_asc' %}
                            <p class="float-left"><strong>Category - A-Z</strong></p>
                            {% endif %}
                            <small class="float-right">{{ products|length }} Products</small>
                        </div>
                    </div>
                    <div class="row">
                        {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div id="card" class="card mt-3">
                                {% if product.image %}
                                <a href="{% url 'view_item' product.id %}?r={{ request.get_full_path }}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}"
                                        alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'view_item' product.id %}?r={{ request.get_full_path }}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no-image2.jpg"
                                        alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <!--footer-->
                                <div class="card-footer bg-white pt-1 px-0 mx-0 mt-3 border-0">
                                    <div class="row">
                                        <div class="col mx-0 px-0">
                                            <p
                                                class="text-black lead mb-2 mx-0 px-0 font-weight-bold text-center pb-0 mb-1">
                                                {{ product.name }}</p>
                                                {% if product.category %}
                                                <small class="category-shop">
                                                    <a class="playball text-grey"
                                                        href="{% url 'shop' %}?category={{ product.category.name }}">
                                                        {{ product.category.friendly_name }}
                                                    </a>
                                                </small>
                                                {% endif %}
                                            {% if product.rating %}
                                            {% if product.avg_rating > 1 %}
                                            <p class="text-gold">{{ product.avg_rating }} <i class="text-gold2 fas fa-star"></i></p>
                                            {% else %}
                                            <p class="playball text-muted">No Ratings Yet</p>
                                            {% endif %}
                                            {% endif %}
                                            <!--form-->
                                            <div class="text-center">
                                            <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                                                {% csrf_token %}
                                                <div class="form-row">
                                                    <div class="col-12">
                                                        <!--prices for sizes-->
                                                        {% if product.is_sizes %}
                                                            {% for size in sizes %}
                                                                {% if size.name == product.name %}
                                                                    <div class="pl-2 form-check text-black">
                                                                        <label class="form-check-label" for="id_for_{{ product.id }}_s">
                                                                            <input type="radio" class="form-check-input" id="id_for_{{ product.id }}_s"
                                                                                name="product_size" value="small_{{ size.small }}">
                                                                            Small - E{{ size.small }}
                                                                        </label>
                                                                    </div>
                                                                    <div class="pl-2 form-check text-black">
                                                                        <label class="form-check-label" for="id_for_{{ product.id }}_m">
                                                                            <input type="radio" class="form-check-input" id="id_for_{{ product.id }}_m"
                                                                                name="product_size" value="medium_{{ size.medium }}" checked>
                                                                            Medium - E{{ size.medium }}
                                                                        </label>
                                                                    </div>
                                                                    <div class="pl-2 form-check text-black">
                                                                        <label class="form-check-label" for="id_for_{{ product.id }}_l">
                                                                            <input type="radio" class="form-check-input" id="id_for_{{ product.id }}_l"
                                                                                name="product_size" value="large_{{ size.large }}">
                                                                            Large - E{{ size.large }}
                                                                        </label>
                                                                    </div>
                                                                {% endif %}
                                                            {% endfor %}
                                                        <!--prices for 6-->
                                                        {% elif product.is_for_six %}
                                                            {% for forsix in forsixs %}
                                                                {% if forsix.name == product.name %}
                                                                    <div class="pl-2 form-check text-black">
                                                                        <label class="form-check-label" for="id_for_{{ product.id }}_6">
                                                                            <input type="radio" class="form-check-input" id="id_for_{{ product.id }}_6"
                                                                                name="product_forsix" value="for6_{{ forsix.for6 }}">
                                                                            For 6 - E{{ forsix.for6}}
                                                                        </label>
                                                                    </div>
                                                                    <div class="pl-2 form-check text-black">
                                                                        <label class="form-check-label" for="id_for_{{ product.id }}_12">
                                                                            <input type="radio" class="form-check-input" id="id_for_{{ product.id }}_12"
                                                                                name="product_forsix" value="for12_{{ forsix.for12 }}" checked>
                                                                            For 12 - E{{ forsix.for12 }}
                                                                        </label>
                                                                    </div>
                                                                    <div class="pl-2 form-check text-black">
                                                                        <label class="form-check-label" for="id_for_{{ product.id }}_24">
                                                                            <input type="radio" class="form-check-input" id="id_for_{{ product.id }}_24"
                                                                                name="product_forsix" value="for24_{{ forsix.for24 }}">
                                                                            For 24 - E{{ forsix.for24}}
                                                                        </label>
                                                                    </div>
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% else %}
                                                        <!--web price-->
                                                        <h3 class="text-black">E{{ product.web_price }} </h3>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <!--quan new-->
                                                <div class="row">
                                                    <div class="col-6 offset-3 col-md-8 offset-md-2 text-center mt-2 mb-0">
                                                        <div class="form-group pl-0 ml-0">
                                                            <div class="input-group pl-0 ml-0">
                                                                <div class="input-group-prepend">
                                                                    <button class="decrement-qty btn btn-quantity-sm rounded-0" 
                                                                        data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                                        <span class="plus font-weight-bold mx-0 my-0">-</span>
                                                                    </button>
                                                                </div>
                                                                <input class="form-control small-input qty_input" type="number"
                                                                    name="quantity" value="1" min="1" max="99"
                                                                    data-item_id="{{ product.id }}"
                                                                    id="zzz">
                                                                <div class="input-group-append">
                                                                    <button class="increment-qty btn btn-quantity-sm rounded-0"
                                                                        data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                                        <span class="plus font-weight-bold mx-0 my-0">+</span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </div>
                                                    <!--buttons-->
                                                    <div class="form-row">
                                                        <div class="col-4 offset-4">
                                                            <input type="submit" id="quantity_but4" class="font-weight-bold btn w-100 bg-gold p-0 text-black rounded-0"
                                                                value="Add">
                                                            <input type="hidden" name="redirect_url"
                                                                value="{{ request.get_full_path }}">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-8 offset-2 mt-3">
                                                            <div class="view w-100 bg-gold text-center">
                                                            <a href="{% url 'view_item' product.id %}?r={{ request.get_full_path }}">
                                                                <spam class="font-weight-bold text-black my-0"> View</spam>
                                                            </a>
                                                        </div>
                                                        </div>
                                                        <!--end but-->
                                                    </div>
                                                    <!--end col-12-->
                                                </form>
                                                </div>
                                            </div>
                                        </div>
                                        {% if request.user.is_superuser %}
                                            <div class="row">
                                                <div class="col">
                                                    <hr>
                                                    <h5 class="upper lato text-black my-0 text-center font-weight-bold">Admin</h5>
                                                    <hr>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 text-center">
                                                    <small class="">
                                                        <a class="lato text-softblack font-weight-bold" href="{% url 'edit_product' product.id %}">Edit Product</a>
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="row">                                            
                                                <div class="col-12 text-center">
                                                    <!--edit size prices-->
                                                    {% if product.is_sizes %}
                                                        <small class="">
                                                            <a class="lato text-softblack font-weight-bold" href="{% url 'sizeprice_edit' product.id %}">Edit Prices</a>
                                                        </small>
                                                    {% endif %}
                                                    <!--edit forsix prices-->
                                                    {% if product.is_for_six %}
                                                        <small class="">
                                                            <a class="lato text-softblack font-weight-bold" href="{% url 'forsixprice_edit' product.id %}">Edit Prices</a>
                                                        </small>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 text-center">
                                                    <small class="">
                                                        <a class="lato font-weight-bold text-red" a href="{% url 'delete_product' product.id %}" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
                                                    </small>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <!--end footer-->
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
                                                

    <div id="no-menu-con" class="d-none no-menu-product-container">
        <!--menu button-->
        <div class="row mb-1">
            <div class="col">
                <button id="show-menu-button" class="bg-gold">Open Menu</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!--products-->
                <div class="product-container">
                    <div class="row">
                        <div class="col">
                            {% if search_words %}
                            <small class="float-left">Results for <strong>{{ search_words }}</strong></small>
                            {% endif %}
                            {% if current_sorting == 'web_price_asc' %}
                            <p class="float-left"><strong>Price - Low to High</strong></p>
                            {% endif %}
                            {% if current_sorting == '-web_price_desc' %}
                            <p class="float-left"><strong>Price - High to Low</strong></p>
                            {% endif %}
                            {% if current_sorting == '-rating_desc' %}
                            <p class="float-left"><strong>Rating - High to Low</strong></p>
                            {% endif %}
                            {% if current_sorting == 'category__name_asc' %}
                            <p class="float-left"><strong>Category - A-Z</strong></p>
                            {% endif %}
                            <small class="float-right">{{ products|length }} Products</small>
                        </div>
                    </div>
                    <div class="row">
                        {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div id="card" class="card mt-3">
                                {% if product.image %}
                                <a href="{% url 'view_item' product.id %}?r={{ request.get_full_path }}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}"
                                        alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'view_item' product.id %}?r={{ request.get_full_path }}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no-image2.jpg"
                                        alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <!--footer-->
                                <div class="card-footer bg-white pt-1 px-0 mx-0 mt-3 border-0">
                                    <div class="row">
                                        <div class="col mx-0 px-0">
                                            <p
                                                class="text-black lead mb-2 mx-0 px-0 font-weight-bold text-center pb-0 mb-1">
                                                {{ product.name }}</p>
                                                {% if product.category %}
                                                <small class="category-shop">
                                                    <a class="playball text-grey"
                                                        href="{% url 'shop' %}?category={{ product.category.name }}">
                                                        {{ product.category.friendly_name }}.
                                                    </a>
                                                </small>
                                                {% endif %}
                                            {% if product.rating %}
                                            <p class="text-gold">{{ product.avg_rating }} <i class="text-gold2 fas fa-star"></i></p>
                                            {% else %}
                                            <p class="playball text-muted">No Ratings Yet</p>
                                            {% endif %}                   
                                            <!--form-->
                                            <div class="text-center">
                                            <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                                                {% csrf_token %}
                                                <div class="form-row">
                                                    <div class="col-12">
                                                        <!--prices for sizes-->
                                                        {% if product.is_sizes %}
                                                            {% for size in sizes %}
                                                                {% if size.name == product.name %}
                                                                    <div class="pl-2 form-check text-black">
                                                                        <label class="form-check-label" for="id_for_{{ product.id }}_s">
                                                                            <input type="radio" class="form-check-input" id="id_for_{{ product.id }}_s"
                                                                                name="product_size" value="small_{{ size.small }}">
                                                                            Small - E{{ size.small }}
                                                                        </label>
                                                                    </div>
                                                                    <div class="pl-2 form-check text-black">
                                                                        <label class="form-check-label" for="id_for_{{ product.id }}_m">
                                                                            <input type="radio" class="form-check-input" id="id_for_{{ product.id }}_m"
                                                                                name="product_size" value="medium_{{ size.medium }}" checked>
                                                                            Medium - E{{ size.medium }}
                                                                        </label>
                                                                    </div>
                                                                    <div class="pl-2 form-check text-black">
                                                                        <label class="form-check-label" for="id_for_{{ product.id }}_l">
                                                                            <input type="radio" class="form-check-input" id="id_for_{{ product.id }}_l"
                                                                                name="product_size" value="large_{{ size.large }}">
                                                                            Large - E{{ size.large }}
                                                                        </label>
                                                                    </div>
                                                                {% endif %}
                                                            {% endfor %}
                                                        <!--prices for 6-->
                                                        {% elif product.is_for_six %}
                                                            {% for forsix in forsixs %}
                                                                {% if forsix.name == product.name %}
                                                                    <div class="pl-2 form-check text-black">
                                                                        <label class="form-check-label" for="id_for_{{ product.id }}_6">
                                                                            <input type="radio" class="form-check-input" id="id_for_{{ product.id }}_6"
                                                                                name="product_forsix" value="for6_{{ forsix.for6 }}">
                                                                            For 6 - E{{ forsix.for6 }}
                                                                        </label>
                                                                    </div>
                                                                    <div class="pl-2 form-check text-black">
                                                                        <label class="form-check-label" for="id_for_{{ product.id }}_12">
                                                                            <input type="radio" class="form-check-input" id="id_for_{{ product.id }}_12"
                                                                                name="product_forsix" value="for12_{{ forsix.for12 }}" checked>
                                                                            For 12 - E{{ forsix.for12 }}
                                                                        </label>
                                                                    </div>
                                                                    <div class="pl-2 form-check text-black">
                                                                        <label class="form-check-label" for="id_for_{{ product.id }}_24">
                                                                            <input type="radio" class="form-check-input" id="id_for_{{ product.id }}_24"
                                                                                name="product_forsix" value="for24_{{ forsix.for24 }}">
                                                                            For 24 - E{{ forsix.for24 }}
                                                                        </label>
                                                                    </div>
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% else %}
                                                            <h3 class="text-black">E{{ product.web_price }} </h3>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <!--quan new-->
                                                <div class="row">
                                                    <div class="col-6 offset-3 col-md-8 offset-md-2 text-center mt-2 mb-0">
                                                        <div class="form-group pl-0 ml-0">
                                                            <div class="input-group pl-0 ml-0">
                                                                <div class="input-group-prepend">
                                                                    <button class="decrement-qty btn btn-quantity-sm rounded-0" 
                                                                        data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                                        <span class="plus font-weight-bold mx-0 my-0">-</span>
                                                                    </button>
                                                                </div>
                                                                <input class="form-control small-input qty_input" type="number"
                                                                    name="quantity" value="1" min="1" max="99"
                                                                    data-item_id="{{ product.id }}"
                                                                    id="zzz">
                                                                <div class="input-group-append">
                                                                    <button class="increment-qty btn btn-quantity-sm rounded-0"
                                                                        data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                                        <span class="plus font-weight-bold mx-0 my-0">+</span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </div>
                                                    <!--buttons-->
                                                    <div class="form-row">
                                                        <div class="col-4 offset-4">
                                                            <input type="submit" id="quantity_but4" class="font-weight-bold btn w-100 bg-gold p-0 text-black rounded-0"
                                                                value="Add">
                                                            <input type="hidden" name="redirect_url"
                                                                value="{{ request.get_full_path }}">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-8 offset-2 mt-3">
                                                            <div class="view w-100 bg-gold text-center">
                                                            <a href="{% url 'view_item' product.id %}?r={{ request.get_full_path }}">
                                                                <spam class="font-weight-bold text-black my-0"> View</spam>
                                                            </a>
                                                        </div>
                                                        </div>
                                                        <!--end but-->
                                                    </div>
                                                    <!--end col-12-->
                                                </form>
                                                </div>
                                            </div>
                                        </div>
                                        {% if request.user.is_superuser %}
                                            <div class="row">
                                                <div class="col">
                                                    <hr class="">
                                                    <h5 class="upper lato text-black my-0 py-1 text-center font-weight-bold">Admin</h5>
                                                    <hr class="">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 text-center">
                                                    <small class="">
                                                        <a class="lato text-softblack font-weight-bold" href="{% url 'edit_product' product.id %}">Edit Product</a>
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="row">                                            
                                                <div class="col-12 text-center">
                                                    <!--edit size prices-->
                                                    {% if product.is_sizes %}
                                                        <small class="">
                                                            <a class="lato text-softblack font-weight-bold" href="{% url 'sizeprice_edit' product.id %}">Edit Prices</a>
                                                        </small>
                                                    {% endif %}
                                                    <!--edit forsix prices-->
                                                    {% if product.is_for_six %}
                                                        <small class="">
                                                            <a class="lato text-softblack font-weight-bold" href="{% url 'forsixprice_edit' product.id %}">Edit Prices</a>
                                                        </small>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 text-center">
                                                    <small class="">
                                                        <a class="lato font-weight-bold text-red" a href="{% url 'delete_product' product.id %}" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
                                                    </small>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <!--end footer-->
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block postloadjs %}
    {{ block.super }}
    {% include 'products/includes/quantity_selector_script.html' %}
    <!--<script>    
$('#refresh-type').on("click", function(){
  $("#type_picker").selectpicker('deselectAll');
});
</script>-->
    <!--$('.selectpicker').selectpicker();-->
    <script>
        $(document).ready(function () {
            var menu = true
            $("#hide-menu-button").click(function () {
                $("#menu-con").toggleClass("d-none");
                $("#no-menu-con").toggleClass("d-none");
                var menu = false
            });
            $("#show-menu-button").click(function () {
                $("#no-menu-con").toggleClass("d-none");
                $("#menu-con").toggleClass("d-none");
            });
        })
    </script>
    <!--<script>
    $(document).ready(function(){
      $("#hide-menu-button").click(function(){
        $("#menu-con").hide();
        $("#no-menu-con").show();
      });
      $("#show-menu-button").click(function(){
        $("#no-menu-con").hide();
        $("#menu-con").show();
      });
    
    })
</script>-->
    <script>
        $('#refresh-type').on("click", function () {
            $("#type_picker").selectpicker('val', '');
        });
    </script>
    {% endblock %}