{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid shop-container w-100 h-100">
    <!--title-->
    <div class="row">
        <div class="col text-center mt-1">
            <h2 class="playball">The Goodies</h2>
            <ul class="list-inline">
                {% for item in categories_selected %}
                <li class="list-inline-item">
                    <h4 class=" playball">{{ item.friendly_name }}</h4>
                </li>
                {% endfor %}
            </ul>
            <hr class="gold50 mb-1">
        </div>
    </div>
    <!--menu button
        <div class="row">
            <div class="col">
                <button id="hide-menu-button" >Close Menu</button>
                <button id="show-menu-button" >Open Menu</button>
            </div>
        </div>-->
    <!--product container with menu-->
    <div id="menu-con" class="menu-product-container">
        <!--menu button-->
        <div class="row mb-1">
            <div class="col">
                <button id="hide-menu-button" class="bg-gold">Close Menu</button>
            </div>
        </div>
        <div class="row">
            <!--menu-->
            <div class="col-lg-3">
                <form method="GET" action="">
                    <div class="">
                        <div class="select-label text-grey upper">
                            <p>type</p>
                            <hr class="grey70" />
                        </div>
                        <select id="type_picker" class="selectpicker mt-5" multiple name="type"
                            aria-label="type select picker" data-style="select-btn">
                            <option value="">bun</option>
                            <option value="">cake</option>
                            <option value="">desert</option>
                            <option value="">croissant</option>
                        </select>
                    </div>
                    <div class="mt-5">
                        <button class="btn px-5 bg-info text-black" type="submit"
                            aria-label="Submit Button">Find</button>
                    </div>
                    <!--refresh button-->
                    <div class="mt-5">
                        <button id="refresh-type" class="btn px-5 bg-info text-black"
                            aria-label="Refresh Button">Refresh</button>
                    </div>
                </form>
            </div>
            <!--products-->
            <div class="col-lg-9">
                <div class="product-container">
                    <div class="row">
                        <div class="col">
                            {% if search_words %}
                            <small class="float-left">Results for <strong>{{ search_words }}</strong></small>
                            {% endif %}
                            {% if current_sorting == 'web_price_asc' %}
                            <p class="float-left"><strong>Price - Low to High</strong></p>
                            {% endif %}
                            {% if current_sorting == '-web_price_desc' %}
                            <p class="float-left"><strong>Price - High to Low</strong></p>
                            {% endif %}
                            {% if current_sorting == '-rating_desc' %}
                            <p class="float-left"><strong>Rating - High to Low</strong></p>
                            {% endif %}
                            {% if current_sorting == 'category__name_asc' %}
                            <p class="float-left"><strong>Category - A-Z</strong></p>
                            {% endif %}
                            <small class="float-right">{{ products|length }} Products</small>
                        </div>
                    </div>
                    <div class="row">
                        {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div id="card" class="card mt-3">
                                {% if product.image %}
                                <a href="{% url 'view_item' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}"
                                        alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'view_item' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no-image2.jpg"
                                        alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <!--footer-->
                                <div class="card-footer bg-white pt-1 px-0 mx-0 mt-3 border-0">
                                    <div class="row">
                                        <div class="col mx-0 px-0">
                                            <p
                                                class="text-black lead mb-2 mx-0 px-0 font-weight-bold text-center pb-0 mb-1">
                                                {{ product.name }}</p>
                                            {% if product.rating %}
                                            <p class="">{{ product.rating }} <i class="fas fa-star"></i></p>
                                            {% else %}
                                            <p class="">No Ratings Yet</p>
                                            {% endif %}
                                            <!--find similiar-->
                                            {% if product.category %}
                                            <p class="small">
                                                <a class=""
                                                    href="{% url 'shop' %}?category={{ product.category.name }}">
                                                    {{ product.category.friendly_name }}.
                                                </a>
                                            </p>
                                            {% endif %}
                                            <!--form-->
                                            <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                                                {% csrf_token %}
                                                <div class="form-row">
                                                    <div class="col-12">
                                                        <!--prices for sizes-->
                                                        {% if product.is_sizes %}
                                                        <div class="pl-2 form-check text-black">
                                                            <label class="form-check-label" for="radio1">
                                                                <input type="radio" class="form-check-input" id="radio1"
                                                                    name="optradio" value="{{ sizes.small }}" checked>
                                                                Small - E{{ sizes.small }}
                                                            </label>
                                                        </div>
                                                        <div class="pl-2 form-check text-black">
                                                            <label class="form-check-label" for="radio2">
                                                                <input type="radio" class="form-check-input" id="radio2"
                                                                    name="optradio" value="{{ sizes.medium }}">
                                                                Medium - E{{ sizes.medium }}
                                                            </label>
                                                        </div>
                                                        <div class="pl-2 form-check text-black">
                                                            <label class="form-check-label" for="radio2">
                                                                <input type="radio" class="form-check-input" id="radio2"
                                                                    name="optradio" value="{{ sizes.large }}">
                                                                Large - E{{ sizes.large }}
                                                            </label>
                                                        </div>
                                                        {% endif %}
                                                        <!--prices for 6-->
                                                        {% if product.is_for_six %}
                                                        <div class="pl-2 form-check text-black">
                                                            <label class="form-check-label" for="radio1">
                                                                <input type="radio" class="form-check-input" id="radio1"
                                                                    name="optradio" value="{{ forsixes.for6}}" checked>
                                                                For 6 - E{{ forsixes.for6}}
                                                            </label>
                                                        </div>
                                                        <div class="pl-2 form-check text-black">
                                                            <label class="form-check-label" for="radio2">
                                                                <input type="radio" class="form-check-input" id="radio2"
                                                                    name="optradio" value="{{ forsixes.for12 }}">
                                                                For 12 - E{{ forsixes.for12 }}
                                                            </label>
                                                        </div>
                                                        <div class="pl-2 form-check text-black">
                                                            <label class="form-check-label" for="radio2">
                                                                <input type="radio" class="form-check-input" id="radio2"
                                                                    name="optradio" value="{{ forsixes.for24}}">
                                                                For 24 - E{{ forsixes.for24}}
                                                            </label>
                                                        </div>

                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <!--Quantity-->
                                                <div class="form-row">
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <input class="form-control qty_input" type="number"
                                                                    name="quantity" value="1" min="1" max="99"
                                                                    data-item_id="{{ product.id }}"
                                                                    id="id_qty_{{ product.id }}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--buttons-->
                                                <div class="form-row">
                                                    <div class="col-4 offset-1">
                                                        <input type="submit" class="btn w-100 bg-gold p-0 text-black"
                                                            value="Add">
                                                        <input type="hidden" name="redirect_url"
                                                            value="{{ request.path }}">
                                                    </div>
                                                    <div class="col-4 offset-2">
                                                        <a href="{% url 'view_item' product.id %}">
                                                            <button class="w-100 bg-gold"> View</button>
                                                        </a>
                                                    </div>
                                                    <!--end but-->
                                                </div>
                                                <!--end col-12-->
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!--end footer-->
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="no-menu-con" class="d-none no-menu-product-container">
        <!--menu button-->
        <div class="row mb-1">
            <div class="col">
                <button id="show-menu-button" class="bg-gold">Open Menu</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!--products-->
                <div class="product-container">
                    <div class="row">
                        <div class="col">
                            {% if search_words %}
                            <small class="float-left">Results for <strong>{{ search_words }}</strong></small>
                            {% endif %}
                            {% if current_sorting == 'web_price_asc' %}
                            <p class="float-left"><strong>Price - Low to High</strong></p>
                            {% endif %}
                            {% if current_sorting == '-web_price_desc' %}
                            <p class="float-left"><strong>Price - High to Low</strong></p>
                            {% endif %}
                            {% if current_sorting == '-rating_desc' %}
                            <p class="float-left"><strong>Rating - High to Low</strong></p>
                            {% endif %}
                            {% if current_sorting == 'category__name_asc' %}
                            <p class="float-left"><strong>Category - A-Z</strong></p>
                            {% endif %}
                            <small class="float-right">{{ products|length }} Products</small>
                        </div>
                    </div>
                    <div class="row">
                        {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div id="card" class="card mt-3">
                                {% if product.image %}
                                <a href="{% url 'view_item' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}"
                                        alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'view_item' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no-image2.jpg"
                                        alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <!--footer-->
                                <div class="card-footer bg-white pt-1 px-0 mx-0 mt-3 border-0">
                                    <div class="row">
                                        <div class="col mx-0 px-0">
                                            <p
                                                class="text-black lead mb-2 mx-0 px-0 font-weight-bold text-center pb-0 mb-1">
                                                {{ product.name }}</p>
                                            {% if product.rating %}
                                            <p class="">{{ product.rating }} <i class="fas fa-star"></i></p>
                                            {% else %}
                                            <p class="">No Ratings Yet</p>
                                            {% endif %}
                                            <!--find similiar-->
                                            {% if product.category %}
                                            <p class="small">
                                                <a class=""
                                                    href="{% url 'shop' %}?category={{ product.category.name }}">
                                                    {{ product.category.friendly_name }}.
                                                </a>
                                            </p>
                                            {% endif %}
                                            <!--form-->
                                            <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                                                {% csrf_token %}
                                                <div class="form-row">
                                                    <div class="col-12">
                                                        <!--prices for sizes-->
                                                        {% if product.is_sizes %}
                                                        <div class="pl-2 form-check text-black">
                                                            <label class="form-check-label" for="radio1">
                                                                <input type="radio" class="form-check-input" id="radio1"
                                                                    name="optradio" value="{{ sizes.small }}" checked>
                                                                Small - E{{ sizes.small }}
                                                            </label>
                                                        </div>
                                                        <div class="pl-2 form-check text-black">
                                                            <label class="form-check-label" for="radio2">
                                                                <input type="radio" class="form-check-input" id="radio2"
                                                                    name="optradio" value="{{ sizes.medium }}">
                                                                Medium - E{{ sizes.medium }}
                                                            </label>
                                                        </div>
                                                        <div class="pl-2 form-check text-black">
                                                            <label class="form-check-label" for="radio2">
                                                                <input type="radio" class="form-check-input" id="radio2"
                                                                    name="optradio" value="{{ sizes.large }}">
                                                                Large - E{{ sizes.large }}
                                                            </label>
                                                        </div>
                                                        {% endif %}
                                                        <!--prices for 6-->
                                                        {% if product.is_for_six %}
                                                        <div class="pl-2 form-check text-black">
                                                            <label class="form-check-label" for="radio1">
                                                                <input type="radio" class="form-check-input" id="radio1"
                                                                    name="optradio" value="{{ forsixes.for6}}" checked>
                                                                For 6 - E{{ forsixes.for6}}
                                                            </label>
                                                        </div>
                                                        <div class="pl-2 form-check text-black">
                                                            <label class="form-check-label" for="radio2">
                                                                <input type="radio" class="form-check-input" id="radio2"
                                                                    name="optradio" value="{{ forsixes.for12 }}">
                                                                For 12 - E{{ forsixes.for12 }}
                                                            </label>
                                                        </div>
                                                        <div class="pl-2 form-check text-black">
                                                            <label class="form-check-label" for="radio2">
                                                                <input type="radio" class="form-check-input" id="radio2"
                                                                    name="optradio" value="{{ forsixes.for24}}">
                                                                For 24 - E{{ forsixes.for24}}
                                                            </label>
                                                        </div>

                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <!--Quantity-->
                                                <div class="form-row">
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <input class="form-control qty_input" type="number"
                                                                    name="quantity" value="1" min="1" max="99"
                                                                    data-item_id="{{ product.id }}"
                                                                    id="id_qty_{{ product.id }}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--buttons-->
                                                <div class="form-row">
                                                    <div class="col-4 offset-1">
                                                        <input type="submit" class="btn w-100 bg-gold p-0 text-black"
                                                            value="Add">
                                                        <input type="hidden" name="redirect_url"
                                                            value="{{ request.path }}">
                                                    </div>
                                                    <div class="col-4 offset-2">
                                                        <a href="{% url 'view_item' product.id %}">
                                                            <button class="w-100 bg-gold"> View</button>
                                                        </a>
                                                    </div>
                                                    <!--end but-->
                                                </div>
                                                <!--end col-12-->
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!--end footer-->
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!--end row-->
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block postloadjs %}
    {{ block.super }}
    <!--<script>    
$('#refresh-type').on("click", function(){
  $("#type_picker").selectpicker('deselectAll');
});
</script>-->
    <!--$('.selectpicker').selectpicker();-->
    <script>
        $(document).ready(function () {
            var menu = true
            $("#hide-menu-button").click(function () {
                $("#menu-con").toggleClass("d-none");
                $("#no-menu-con").toggleClass("d-none");
                var menu = false
            });
            $("#show-menu-button").click(function () {
                $("#no-menu-con").toggleClass("d-none");
                $("#menu-con").toggleClass("d-none");
            });
        })
    </script>
    <!--<script>
    $(document).ready(function(){
      $("#hide-menu-button").click(function(){
        $("#menu-con").hide();
        $("#no-menu-con").show();
      });
      $("#show-menu-button").click(function(){
        $("#no-menu-con").hide();
        $("#menu-con").show();
      });
    
    })
</script>-->
    <script>
        $('#refresh-type').on("click", function () {
            $("#type_picker").selectpicker('val', '');
        });
    </script>
    {% endblock %}