{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
{% endblock %}

{% block extra_js %}
   <script src='https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js'></script>
   <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js" charset="utf-8"></script>
<script>
  $(document).ready(function() {
    $('#review_box').DataTable( {
        "ordering": false,
        "language": {
      "emptyTable": "Sorry no reviews yet."
    }
    } );
} );
</script>
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <!--title-->
    <div class="row">
        <div class="col text-center mt-1">
            <h2 class="">The Goodies</h2>
            {% for item in categories_selected %}
            <p class="playball">{{ item.friendly_name }}</p>
            {% endfor %}
            <hr class="gold50 mb-1">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
        <!--<div class="col-12 col-sm-6 offset-sm-3 text-center">-->
            <div class="image-box my-4">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="img-fluid" src="{{ MEDIA_URL }}no-image2.jpg" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 px-0">
            <div class="item-box mb-4 mt-3 text-center">
                <h3 class="text-black">{{ product.name }}</h3>
                <p class="mt-3">{{ product.description }}</p>
                {% if product.rating %}
                    {% if product.avg_rating > 1 %}
                    <p class="text-gold">{{ product.avg_rating|floatformat:1 }} <i class="text-gold2 fas fa-star"></i></p>
                    {% else %}
                    <p class="playball text-gold">No Ratings Yet</p>
                    {% endif %}
                {% endif %}
                <!--form-->
                <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <!--prices for sizes-->
                            {% if product.is_sizes %}
                                {% if sizes %}
                                    <div class="form-check text-softblack">
                                        <label class="form-check-label" for="id_for_{{ product.id }}_s">
                                            <input type="radio" class="form-check-input" id="id_for_{{ product.id }}_s" name="product_size"
                                                value="small_{{ sizes.small }}">
                                            Small - E{{ sizes.small }}
                                        </label>
                                    </div>
                                    <div class="form-check text-softblack">
                                        <label class="form-check-label" for="id_for_{{ product.id }}_m">
                                            <input type="radio" class="form-check-input" id="id_for_{{ product.id }}_m" name="product_size"
                                                value="medium_{{ sizes.medium }}" checked>
                                            Medium - E{{ sizes.medium }}
                                        </label>
                                    </div>
                                    <div class="form-check text-softblack">
                                        <label class="form-check-label" for="id_for_{{ product.id }}_l">
                                            <input type="radio" class="form-check-input" id="id_for_{{ product.id }}_l" name="product_size"
                                                value="large_{{ sizes.large }}">
                                            Large - E{{ sizes.large }}
                                        </label>
                                    </div>             
                                {% else %}       
                                    <div class="pl-2 form-check text-softblack">
                                        <label class="form-check-label" for="id_for_{{ product.id }}_m">
                                            <input type="radio" class="form-check-input" id="id_for_{{ product.id }}_m"
                                                name="product_size" value="medium_{{ product.web_price }}">
                                            Medium - E{{ product.web_price }}
                                        </label>
                                    </div>    
                                {% endif %}   
                            <!--prices for 6-->
                            {% elif product.is_for_six %}
                                {% if forsixes %}
                                    <div class="form-check text-softblack">
                                        <label class="form-check-label" for="id_for_{{ product.id }}">
                                            <input type="radio" class="form-check-input" id="id_for_{{ product.id }}_6" name="product_forsix"
                                                value="for6_{{ forsixes.for6 }}">
                                            For 6 - E{{ forsixes.for6 }}
                                        </label>
                                    </div>
                                    <div class="form-check text-softblack">
                                        <label class="form-check-label" for="id_for_{{ product.id }}">
                                            <input type="radio" class="form-check-input" id="id_for_{{ product.id }}_12" name="product_forsix"
                                                value="for12_{{ forsixes.for12 }}" checked>
                                            For 12 - E{{ forsixes.for12 }}
                                        </label>
                                    </div>
                                    <div class="form-check text-softblack">
                                        <label class="form-check-label" for="id_for_{{ product.id }}">
                                            <input type="radio" class="form-check-input" id="id_for_{{ product.id }}_24" name="product_forsix"
                                                value="for24_{{ forsixes.for24 }}">
                                            For 24 - E{{ forsixes.for24 }}
                                        </label>
                                    </div>
                                {% else %}
                                    <div class="pl-2 form-check text-softblack">
                                        <label class="form-check-label" for="id_for_{{ product.id }}_6">
                                            <input type="radio" class="form-check-input" id="id_for_{{ product.id }}_6"
                                                name="product_size" value="for6_{{ product.web_price }}">
                                            For 6 - E{{ product.web_price }}
                                        </label>
                                    </div>
                                {% endif %}
                            {% else %}
                            <h3 class="text-softblack">E{{ product.web_price }} </h3>
                            {% endif %}
                        </div>
                        <!--Quantity-->
                            <div class="col-12 text-center">
                            <p class="mt-2 text-softblack"><strong>Quantity</strong></p>
                            <div class="form-group w-50 px-sm-3 px-lg-5 mx-auto">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button aria-label="Decrement Quantity" class="decrement-qty btn btn-quantity rounded-0 px-1" 
                                            data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-minus fa-xs"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control view-it qty_input" type="number"
                                        name="quantity" value="1" min="1" max="99"
                                        data-item_id="{{ product.id }}"
                                        aria-label="quantity input" id="input_box">
                                    <div class="input-group-append">
                                        <button aria-label="Increment Quantity" class="px-1 increment-qty btn btn-quantity rounded-0"
                                            data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6 text-center mx-0 px-0">
                                    <a href="{% url 'shop' %}" class="btn btn-gold lato my-2">
                                        <span class="">Back to Shop</span>
                                    </a>
                                </div>
                                <div class="col-6 text-center mx-0 px-0">
                                    <input type="submit" id="quantity_but" class="px-4 btn btn-gold my-2 lato" value="Add to Bag">    
                                    <input type="hidden" name="redirect_url" value="{{ back_to_cats }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--find similiar-->
                {% if product.category %}
                <p class="small mt-1">Find similar products in the <span class="linkcol">
                    <a href="{% url 'shop' %}?category={{ product.category.name }}">
                        {{ product.category.friendly_name }}
                    </a></span> range.
                </p>
                {% endif %}
                <div class="row">
                <div class="col-6 review-view text-center mx-0 pr-0 pl-0">
                {% if request.user.is_authenticated %}
                <p class="linkcol">
                    <a class="head5" href="{% url 'review' product.id %}">Add Review</a>
                </p>
                {% else %}
                <p class="linkcol">
                    <a class="" href="{% url 'account_signup' %}">Sign Up to Add Review</a>
                </p>
                {% endif %}
                </div>
                <div class="col-6 text-center review-view mx-sm-0 pr-0 pl-0">
                    <p id="reviews_button" class="linkcol">
                    <a class="head5" href="#review_section">
                        Read Reviews</a>
                        </p>
                </div>
                </div>
                {% if request.user.is_superuser %}
                <section class="admin">
                    <div class="row">
                        <div class="col-12 col-sm-6 offset-sm-3">
                            <hr>
                            <p class="head5 text-mattblack upper lato my-0 font-weight-bold">Admin</p>
                            <hr>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12 text-center">
                            <a class="lato btn btn-blue py-0 px-2 mb-2" href="{% url 'edit_product' product.id %}">Edit Product</a>
                        </div>
                    </div>
                    <div class="row mb-2">                                            
                        <div class="col-12 col-sm-6 offset-sm-3 text-center">
                            <!--edit size prices-->
                            {% if product.is_sizes %}
                                <a class="lato btn btn-blue py-0 px-3 mb-2" href="{% url 'sizeprice_edit' product.id %}">Edit Prices</a>
                            {% endif %}
                            <!--edit forsix prices-->
                            {% if product.is_for_six %}
                                <a class="lato btn btn-blue py-0 px-3 mb-2" href="{% url 'forsixprice_edit' product.id %}">Edit Prices</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6 offset-sm-3 text-center">
                            <a class="lato btn px-1 py-0 delete-button" a href="{% url 'delete_product' product.id %}" onclick="return confirm('Are you sure you want to delete this item?');">Delete Product</a>
                        </div>
                    </div>
                </section>
                {% endif %}
        </div>
    </div>
    </div>
    <!--reviews-->
    <div id="review_section" class="d-none">
        <div class="row">
            <div class="col-sm-10 offset-sm-1">
                <div class="table-responsive rounded">
                    <table id="review_box" class="table table-sm display" width="100%">
                        <thead class="">
                            <tr>
                                <th>Reviews</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for review in reviews %}              
                            <tr>
                                <td class="pl-5 pr-5 w-100">
                                    <p class="text-center text-gold">
                                        {% if review.rating == 1 %}
                                        <i class="text-gold2 fas fa-star"></i>
                                        {% elif review.rating == 2 %}
                                        <i class="text-gold2 fas fa-star"></i>
                                        <i class="text-gold2 fas fa-star"></i>
                                        {% elif review.rating == 3 %}
                                        <i class="text-gold2 fas fa-star"></i>
                                        <i class="text-gold2 fas fa-star"></i>
                                        <i class="text-gold2 fas fa-star"></i>
                                        {% elif review.rating == 4 %}
                                        <i class="text-gold2 fas fa-star"></i>
                                        <i class="text-gold2 fas fa-star"></i>
                                        <i class="text-gold2 fas fa-star"></i>
                                        <i class="text-gold2 fas fa-star"></i>
                                        {% elif review.rating == 5 %}
                                        <i class="text-gold2 fas fa-star"></i>
                                        <i class="text-gold2 fas fa-star"></i>
                                        <i class="text-gold2 fas fa-star"></i>
                                        <i class="text-gold2 fas fa-star"></i>
                                        <i class="text-gold2 fas fa-star"></i>
                                        {% endif %}
                                    </p> 
                                    <h5 class="playball text-black text-center">{{ review.name|title }}</h5>                                    
                                    <p class="text-center">{{ review.review }}</p>
                                    
                                    <p class="text-right">{{ review.date_posted|date:"d M Y" }}</p>
                                    {% if request.user.is_superuser %}
                                        <div class="row mb-2">
                                            <div class="col-12 text-right">
                                                <p class="">
                                                    <a class="head5 text-red font-weight-bold" a href="{% url 'cut_review' review.id %}" onclick="return confirm('Are you sure you want to delete this review?');">Delete</a>
                                                </p>
                                            </div>
                                        </div>
                                    {% endif %} 
                                </td>
                            </tr>  
                        {% endfor %} 
                    </tbody>                      
                    </table>   
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_selector_script.html' %}
<script>
    /*Function to show and hide the reviews section*/
    $(document).ready(function () {
        $("#reviews_button").click(function () {
            $("#review_section").toggleClass("d-none");
        });
    })
</script>
{% endblock %}
